body{
    background-color: rgba(36, 202, 231, 0.555);
}
#h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: rgba(184, 6, 30, 0.808);
    text-align: center;
    background-color: rgb(70, 63, 56);
}
#lol{
    color: rgb(5, 15, 1);
    font-size: 75pt;
    background-color: darkgray;
    width: auto;
    margin-left: auto;

}
.singupLoginpage{
    
    margin-top: 0%;
    margin-left: auto;
    background-color: coral;
    max-width: 25%;
    height: 100%;
    text-align: center;
    border-style: double ;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 34, 2);

}
#singupLoginpage{
    display: block;
    text-align: center;
}